{% extends 'website/layout.html' %}

{% block title %}
 Linkr | Home
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<br>
<h1 class="text-center">Welcome back {{ user }}</h1>
<p class="text-center">Check out your page <a href="/@/{{ user }}" target="_blank">here</a>.</p>
{% else %}
<br><br>
<div class="container row align-items-center" style="height:80vh;">
  <div class="background-white col jumbotron has-shadow">
    <h1 class="display-4">Howdy!</h1>
    <p>Linkr: free and open source link sharing for everyone, forever.</p>
    <p>
      <a class="btn btn-outline-primary btn-large" href="/login">
        Log In
      </a> 
      <a class="btn btn-outline-primary btn-large" href="/register">
        Sign Up
      </a>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
