{% extends 'website/layout.html' %}
{% load static %}

{% block title %}
 Linksharin' | Home
{% endblock %}

{% block body %}
<br>
<div class="alert alert-danger" role="alert">
  This website is still being built, so some links might be broken, and some content might be missing. However, if you find something wrong with the <em>functionality</em>, please report an <a href="https://github.com/adamtherookie/linksharin/issues" target="_blank">issue</a>.
</div>
{% if user.is_authenticated %}
<br>
<h1 class="text-center">Welcome back {{ user }}</h1>
<p class="text-center">Check out your page <a href="/@/{{ user }}" target="_blank">here</a>.</p>
<br>
<h1>Analytics</h1>
<p>Your page was viewed <strong>{{ views }}</strong> times.</p>
{% else %}
<br>
<div class="container row align-items-center background-white has-shadow hero w-100">
  <div class="col jumbotron" style="background-color:white;">
    <h1 class="header">Howdy<span class="accent">!</span></h1>
    <p>Linksharin': free and open source link sharing for everyone, forever.</p>
    <p>
      <a class="btn btn-outline-primary btn-large has-shadow" href="/login">
        Log In
      </a> 
      <a class="btn btn-outline-primary btn-large has-shadow" href="/register">
        Sign Up
      </a>
    </p>
  </div>
  <div class="col">
    <img src="{% static 'website/svg/hero.svg' %}" class="img-fluid">
  </div>
</div>

<div class="container row align-items-center hero w-100">
  <div class="col">
    <img src="{% static 'website/svg/customize.svg' %}" class="img-fluid">
  </div>
  <div class="col jumbotron" style="background-color:white;">
    <h1 class="header">Create a Fully Customizable Page in Minutes<span class="accent">!</span></h1>
    <p>Connect your social media, stores, websites, and more into one simple link that you can share anywhere!</p>
    <p>
      <a class="btn btn-outline-primary btn-large has-shadow" href="/register">
        Get Started
      </a> 
    </p>
  </div>
</div>

<div class="container row align-items-center hero w-100">
  <div class="col jumbotron" style="background-color:white;">
    <h1 class="header">Choose from Many Color Schemes, or Create your Own<span class="accent">!</span></h1>
    <p>Browse the community-created color schemes, themes, and effects, or, if nothing suits you, you can create your own!</p>
    <p>
      <a class="btn btn-outline-primary btn-large has-shadow" href="/register">
        Get Started
      </a> 
    </p>
  </div>
  <div class="col">
    <img src="{% static 'website/svg/colorschemes.svg' %}" class="img-fluid">
  </div>
</div>
{% endif %}
{% endblock %}
