{% extends 'website/layout.html' %}
{% load static %}

{% block title %}
 Linksharin' | Home
{% endblock %}

{% block body %}
<br>
<div class="alert alert-danger" role="alert">
  This website is still being built, so some links might be broken, and some content might be missing. However, if you find something wrong with the <em>functionality</em>, please report an <a href="https://github.com/adamtherookie/linksharin/issues" target="_blank">issue</a>.
</div>
{% if user.is_authenticated %}
<br>
<h1 class="text-center header">Welcome back <span class="header gradient">{{ user }}</span></h1>
<p class="text-center">Check out your page <a href="/@/{{ user }}" target="_blank">here</a>.</p>
<br>
<h1>Analytics</h1>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<div class="row">
  <div class="col-8 chart-container">
    <h3>Views per Day:</h3>
    <hr>
    <canvas id="chart" style="width:100vw"></canvas>
  </div>
  <div class="col-4 other-stats">
    <h3>Other Stats</h3>
    <hr>
    <ul style="list-style:none;">
      <li>Total Views: {{ total }}</li>
    </ul>
  </div>
</div>

<script>
let ctx = document.getElementById("chart").getContext("2d");

let chart = new Chart(ctx, {
  type: "line",
  data: {
     labels: [{% for date in dates %}"{{ date }}",{% endfor %}],
     datasets: [
        {
          label: "Views",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [{% for num in count %} {{ num }}, {% endfor %}]
        }
     ]
  },
  options: {
     title: {
        text: "Views per Day",
        display: true
     },
     scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          callback: function (value) { if (Number.isInteger(value)) { return value; } },
          stepSize:1
        }
      }]
     }
  }
});
</script>

{% else %}
<br>
<div class="container stats row align-items-center background-white has-shadow hero w-100">
  <div class="col jumbotron">
    <h1 class="header">Howdy<span class="accent">!</span></h1>
    <p>Linksharin': free and open source link sharing for everyone, forever.</p>
    <p>
      <a class="btn btn-success btn-large" href="/login">
        Log In
      </a> 
      <a class="btn btn-success btn-large" href="/register">
        Sign Up
      </a>
    </p>
  </div>
  <div class="col">
    <img src="{% static 'website/svg/hero.svg' %}" class="img-fluid">
  </div>
</div>

<div class="container row align-items-center hero w-100">
  <div class="col">
    <img src="{% static 'website/svg/customize.svg' %}" class="img-fluid">
  </div>
  <div class="col jumbotron" style="background-color:white;">
    <h1 class="header">Create a Fully Customizable Page in Minutes<span class="accent">!</span></h1>
    <p>Connect your social media, stores, websites, and more into one simple link that you can share anywhere!</p>
    <p>
      <a class="btn btn-outline-primary btn-large has-shadow" href="/register">
        Get Started
      </a> 
    </p>
  </div>
</div>

<div class="container row align-items-center hero w-100">
  <div class="col jumbotron" style="background-color:white;">
    <h1 class="header">Choose from Many Color Schemes, or Create your Own<span class="accent">!</span></h1>
    <p>Browse the community-created color schemes, themes, and effects, or, if nothing suits you, you can create your own!</p>
    <p>
      <a class="btn btn-outline-primary btn-large has-shadow" href="/register">
        Get Started
      </a> 
    </p>
  </div>
  <div class="col">
    <img src="{% static 'website/svg/colorschemes.svg' %}" class="img-fluid">
  </div>
</div>

<div class="stats">
<div style="text-align:center;">
  <h1 class="header">Stats<span class="accent">:</span></h1>
</div>

<div class="container row align-items-center hero w-100" style="text-align:center;"> 
  <div class="col stats-col">
    <div class="card">
      <div class="card-body">
        <div class="card-title subheader">Users<span class="accent">:</span></div>
        <h1 class="header">{{ users }}</h1>
      </div>
    </div>
  </div>
  <div class="col stats-col">
    <div class="card">
      <div class="card-body">
        <div class="card-title subheader">Profiles Viewed<span class="accent">:</span></div>
        <h1 class="header">{{ views }}</h1>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>
<div style="text-align:center;">
  <h1 class="header">Made with Open Source<span class="accent">:</span></h1>
</div>

<div class="container row align-items-center hero w-100" style="text-align:center;">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <a href="https://getbootstrap.com/" target="_blank"><img style="height:90px;" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png"></a>
      </div>
      <div class="slide">
        <a href="https://penpot.app/" target="_blank"><img style="height:90px;" src="https://avatars.githubusercontent.com/u/30179644?s=200&v=4"></a>
      </div>
      <div class="slide">
        <a href="https://djangoproject.com" target="_blank"><img style="height:90px;" src="https://avatars.githubusercontent.com/u/27804?s=200&v=4"></a>
      </div>
      <div class="slide">
        <a href="https://fontawesome.com" target="_blank"><img style="height:90px;" src="https://avatars.githubusercontent.com/u/1505683?s=200&v=4"></a>
      </div>
      <div class="slide">
        <a href="https://chartjs.org" target="_blank"><img style="height:90px;" src="https://avatars.githubusercontent.com/u/10342521?s=200&v=4"></a>
      </div>
      <div class="slide">
        <a href="https://python.org" target="_blank"><img style="height:90px" src="https://duckduckgo.com/i/4d837687.png"></a>
      </div>
      <!--Going to repeat (until I find more stuff to add)-->
    </div> 
  </div>
</div>
{% endif %}
{% endblock %}
