:root {
  --link-background: rgba(0, 0, 0, 0);
}

.link-container {
  border:1px solid var(--link-hover-background);
}

.link-container:hover,
.link-container:focus {
  box-shadow: 
    inset -20em 0 0 0 var(--link-hover-background),
    inset 20em 0 0 0 var(--link-hover-background);  
}