@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  font-family:'Karla', sans-serif;
  transition:0.3s;
}

a {
  color:inherit;
  text-decoration:none;
}

.user-title {
  font-weight:900;
  font-size:larger;
}

.user-bio {
  font-size:medium;
  padding:10px;
}

body {
  max-width:100vw;
  overflow-x:hidden;
  background-color:var(--background);
  color:var(--text-color);
  text-align:center;
  margin-left:30vw;
  margin-right:30vw;
}

.category-title {
  font-weight: bold;
  font-size: large;
}

.link-container {
  background-color:var(--link-background);
  color:var(--link-color);
  border-radius:10px;
  padding:20px;
  margin-top:10px;
  margin-bottom:10px;
}

.link-container:hover {
  transform: translateY(-0.25em);
  background-color:var(--link-hover-background);
  color:var(--link-hover-color);
}

@media screen and (max-width:700px) {
  body {
    margin-left:15vw;
    margin-right:15vw;
  }
}

.page-footer {
  border-top:1px solid var(--footer-border);
  padding:20px;
  
}

.footer-text {
  color:var(--footer-text);
  font-size:small;
}
