@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  font-family:'Karla', sans-serif;
  transition:0.3s;
}

a {
  color:inherit;
  text-decoration:none;
}

h1 {
  font-weight: bolder;
}

.user-bio {
  font-size:large;
  padding:10px;
}

body {
  max-width:100vw;
  overflow-x:hidden;
  background-color:#222222;
  color:white;
  text-align:center;
  margin-left:30vw;
  margin-right:30vw;
}

.category-title {
  font-weight: bold;
  font-size: larger;
}

.link-container {
  background-color:white;
  color:#222222;
  border:1px solid gray;
  border-radius:10px;
  padding:20px;
  margin-top:10px;
  margin-bottom:10px;
}

.link-container:hover {
  transform: translateY(-0.25em);
}

@media screen and (max-width:700px) {
  body {
    margin-left:15vw;
    margin-right:15vw;
  }
}
