@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  transition:0.3s;
  font-family:'Varela Round', sans-serif;
}

body {
  background-color:#fbfbfb;
}

.has-shadow, button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.background-white {
  background-color:white; 
  border:1px solid #eeeeee;
  border-radius:10px;
}

.hero {
  padding-top:50px;
  padding-bottom:50px;
  margin:0;
}

.jumbotron {
  min-width:500px;
}

.accent {
  color:#5d9e57;
}

.header {
  color:#001d3d;
}
