@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  transition:0.3s;
  font-family:'Varela Round', sans-serif;
  max-width:100vw;
}

body {
  background-color:#fbfbfb;
  overflow-x:hidden;
  width:100vw;
}

.has-shadow:not(.button), button.has-shadow:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.background-white {
  background-color:white; 
  border:1px solid #eeeeee;
  border-radius:10px;
}

.hero {
  padding-top:50px;
  padding-bottom:50px;
  margin:0;
}


.accent {
  color:#5d9e57;
}

.header {
  color:#001d3d;
}

#main-nav {
  background-color:rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 1000px) {
  * {
    margin:0;
  }

  footer > * {
    width:100vw;
    margin:auto;
    text-align:center;
  }
}

@media screen and (max-width: 800px) {
  .jumbotron, .chart-container {
    min-width:80vw;
  }
}

#message {
  display:none;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: #5d9e57;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
