:root {
    --background:#ffe69b;
    --text-color:#000;
    --link-background:#ffcd37;
    --link-color:#000;
    --link-hover-background:#ffda69;
    --link-hover-color:#000;
    --footer-border:#000;
    --footer-text:#000;
  }
  