:root {
    --background:#ffddd3;
    --text-color:#000;
    --link-background:#ffbca7;
    --link-color:#000;
    --link-hover-background:#ff9a7b;
    --link-hover-color:#000;
    --footer-border:#000;
    --footer-text:#000;
  }
  