:root {
  --background:#222222;
  --text-color:#ffffff;
  --link-background:#ffffff;
  --link-color:#222222;
  --link-hover-background:#ffffff;
  --link-hover-color:#222222;
  --footer-border:#ffffff;
  --footer-text:#dddddd;
}
