:root {
  --background:#282828;
  --text-color:#ebdbb2;
  --link-background:#665c54;
  --link-color:#ebdbb2;
  --link-hover-background:#ebdbb2;
  --link-hover-color:#282828;
  --footer-border:#665c54;
  --footer-text:#665c54;
}
