:root {
  --background:#121212;
  --text-color:#ff0088;
  --link-background:#323232;
  --link-color:#ffffff;
  --link-hover-background:#ff0088;
  --link-hover-color:#ffffff;
  --footer-border:#323232;
  --footer-text:#323232;
}
