:root {
    --background:#b1b8e3;
    --text-color:#000;
    --link-background:#8995d6;
    --link-color:#000;
    --link-hover-background:#6271c8;
    --link-hover-color:#000;
    --footer-border:#000;
    --footer-text:#000;
  }
  