:root {
  --background:#1C1B22;
  --text-color:#FBFBFE;
  --link-background:#36343F;
  --link-color:#FBFBFE;
  --link-hover-background:#71707F;
  --link-hover-color:#FBFBFE;
  --footer-border:#36343F;
  --footer-text:#36343F;
}
